.form {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	display: block;
	margin: 0.75rem auto 0;
	max-width: 500px;
	padding: 2rem;
}

.label,
.input {
	display: block;
}

.label {
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.input {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	font-size: 1rem;
	margin-bottom: 0.75rem;
	padding: 0.25rem;
	width: 100%;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	max-height: 200px;
	min-height: 100px;
	width: 100%;
}

.button {
	background: darkcyan;
	border: none;
	cursor: pointer;
	padding: 8px 2rem;
	border-radius: 0.25rem;
	text-transform: uppercase;
	display: block;
	color: #fff;
	margin-left: auto;
}