@keyframes loading {
	from {
		opacity: 1;
		transform: scale(0.001);
	}
	to {
		opacity: 0;
		transform: scale(1);
	}
}

.form {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	display: block;
	margin: 0.75rem auto 0;
	max-width: 500px;
	padding: 2rem;
}


.form.pending {
	position: relative;
	user-select: none;
	transition: all .2s
}

.pending::before {
	content: "";
	position: absolute;
	background: rgba(255, 255, 255, 0.432);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.pending::after {
	animation: loading .8s infinite ease-out;
	content: "";
	position: absolute;
	background: radial-gradient(rgba(0, 89, 131, 0.1), rgba(0, 139, 139, 0.9));
	width: 6rem;
	height: 6rem;
	top: calc(50% - 3rem);
	left: calc(50% - 3rem);
	border-radius: 50%;

}

.label,
.input {
	display: block;
}

.label {
	font-size: 0.75rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.input {
	border: 1px solid #ddd;
	border-radius: 0.25rem;
	font-size: 1rem;
	margin-bottom: 0.75rem;
	padding: 0.25rem;
	width: 100%;
}

textarea {
	min-width: 100%;
	max-width: 100%;
	max-height: 200px;
	min-height: 100px;
	width: 100%;
}

.button {
	background: darkcyan;
	border: none;
	cursor: pointer;
	padding: 8px 2rem;
	border-radius: 0.25rem;
	text-transform: uppercase;
	display: block;
	color: #fff;
	margin-left: auto;
}

.modal {
	display: flex;
	align-items: center;
	border-radius: 0.25rem;
	padding: 0 2rem;
	border: 2px solid rgba(0, 157, 248, 1);
	background: rgba(0, 157, 248, 0.5);
	margin-bottom: 2rem;
}

.success {
	background: rgba(0, 185, 114, 0.5);
	border-color: rgba(0, 185, 114, 1);
}

.error {
	background: rgba(250, 54, 71, 0.5);
	border-color: rgba(250, 54, 71, 1);
}

.warning {
	background: rgba(247, 200, 48, 0.5);
	border-color: rgba(247, 200, 48, 1);
}

.divider {
	margin: 0 1rem;
}